.sidebar {
    position: absolute;
    background-color: white;
    height: 90%;
    width: 250px;
    z-index: 999;
}

.sidebar ul {
    position: absolute;
    right: -1px;
    left: -1px;
    padding-left: 0;
    padding-right: 0;
}

.sidebar a,
.sidebar ul li {
    text-decoration: none;
    list-style: none;
    color: black;
}

.sidebar>.title {
    text-align: center;
    padding: 15px 25px 15px 15px;
    background-color: brown;
    margin-bottom: 1px;
}

.sidebar>.title a {
    color: #FFFFFF;
}

.sidebar .icon-menu{
    position: absolute;
    left: 15px;
}
.sidebar>.title a:last-child {
    position: absolute;
    right: 10px;
}

.sidebar ul {
    padding-left: 10px;
}

.sidebar ul li {
    padding: 20px 15px 10px 15px;
    text-align: left;
}

.sidebar ul li:hover {
    margin-left: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: deepskyblue;
}

.sidebar ul li:hover span {
    color: #FFFFFF;
}

.sidebar ul li:active {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: deepskyblue;
}

.sidebar .footer {
    position: absolute;
    padding: 15px 15px 15px 15px;
    text-align: center;
    color: brown;
    background-color: aquamarine;
    bottom: -1px;
    right: -1px;
    left: -1px;
}

.sidebar .footer:hover {
    color: #FFFFFF;
    background-color: cadetblue;
}

.msg {
    background-color: red;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 4px;
}