.sidebar {
    position: absolute;
    background-color: white;
    white-space: nowrap;
    height: 80%;
    width: 200px;
    z-index: 999;
    transition: all 0.5s ease;
}
body.active .sidebar{background-color: #363949; color: white; transition: all 1s ease;}
body.active div.sidebar.active{background-color: #363949; color: white; transition: all 1s ease;}
.sidebar.active{
    width: 44px;
}

.sidebar.active .text {
    opacity: 0;
}
.sidebar.active .msg {
   opacity: 0;
}
.sidebar.active>ul li .icon{
    position: relative;
    left: -15px;
    border-radius: 0.2rem;
    background-color: #222;
    color: white;
    padding: 3px 5px;
 }

 .sidebar.active>ul li .icon:hover{
    background-color: white;
    padding: 3px 5px;
    color: black;
    transition: all .2s ease;
 }

 .sidebar.active>.footer{
    left: -10px;
 }

 

.sidebar ul {
    position: absolute;
    right: -1px;
    left: -1px;
    padding-left: 0;
    padding-right: 0;
}

.sidebar a,
.sidebar ul li {
    text-decoration: none;
    list-style: none;
    color: black;
}

.sidebar.active>ul li {
    border-bottom: white;
}

.sidebar>.title {
    
    text-align: center;
    padding: 6px 15px;
    background-color: var(--color-serenity);
    margin-bottom: 1px;
}

.sidebar.active>.title {

   right: -45px;
   transition: all 0.5s ease;
}

.sidebar.active .brand-name {
    opacity: 0;
    
}

.sidebar>.title a {
    color: #FFFFFF;
}


.sidebar .icon-menu{
    position: absolute;
    cursor: pointer;
    left: 15px;
    top: -5px;
    font-size: 1.2rem;
    background-color: var(--color-serenity);
    border: 1px var(--color-serenity);
}

.sidebar.active .icon-menu {
    left: -25px;
}

.sidebar>.title a:last-child {
    position: absolute;
    right: 10px;
}

.sidebar ul {
    padding-left: 10px;
}

.sidebar ul li {
    padding: 20px 15px 10px 15px;
    text-align: left;
}

.sidebar ul li:hover {
    margin-left: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--color-peps);
}

body.active .sidebar ul li:hover {
    background-color: #121212;
}

.sidebar.active ul li:hover {
    background-color: white;
    margin-left: 0px;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sidebar ul li:hover span {
    color: #FFFFFF;
}

.sidebar ul li:active {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: deepskyblue;
}

.sidebar .footer {
    position: absolute;
    padding: 15px 15px 10px 25px;
    color: brown;
    background-color: aquamarine;
    bottom: -1px;
    right: -1px;
    left: -1px;
}

.sidebar .footer:hover {
    color: #FFFFFF;
    background-color: cadetblue;
}

.msg {
    background-color: red;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 4px;
}

.sidebar.active .msg {
    opacity: 0;
 }