body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        149deg,
        rgb(247, 0, 255) 0%,
        rgb(255, 145, 0) 100%
      );
}


.form{
    background-color: white;
    height: 80%;
    width: 30%;
    border-radius: 8%;
}

.form.active{
    background-color: #121212;
    color: white;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}
.onex{
    color: green;
}
form{
    padding: 15px 5px 15px 15px;
}
form>div{
 padding: 0 10px;   
}
input{
    margin: 5px 5px 15px 5px;
}
.date>input[type='date']{
    width: 50%;
}
.check>input[type='checkbox']{
    padding-left: 350px;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    
}

.submit>input[type='submit']{
    background-color: yellow;
    cursor: pointer;  
    border-radius: 25px;
}
.submit>input[type='submit']:hover{
    background-color: red;
}
.google, .facebook{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    text-align: center;
}
div .google,.facebook{
    margin-left: 25px;
}

.signin{
    cursor: pointer;
   background-color: royalblue;
   padding: 2px 2px 2px 2px;
   border: 2px solid black;
   border-radius: 30px;
   text-align: center;
 
}

.signin:hover{
    background-color:rebeccapurple ;
    color: white;
}

.or{
    padding-bottom: 10px; 
    text-align: center;
}

.theme-toggler{
    position: absolute;
    right: 510px;
}


