.header {
    position: absolute;
    top: -1px;
    padding-top: 10px;
    padding-bottom: 11px;
    width: 100%;
    background-color: var(--color-serenity);
    display: flex;
    justify-content: end;
    align-items: center;
}

.header .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
}

.header .user img {
    margin-right: 5px;
}

.header .user span {
    color: white;
}

.user-image{
    width: 24px;
    height: 24px;
}
.calendar{
    background-color: rgba(132, 139, 200, 0.18);
    border-radius: 0.4rem;

}
input[type='date']{ 
    border-radius: 0.4rem;
    color:#363949;
    width: 100%;
}

        /*footer*/

footer .copyright{
    position: relative;
    top: 3px;
}


button{
    /* cursor: pointer; */
}

.theme-toggler:before{
    cursor: pointer;
    content: '\f186';
    font-family: fontAwesome;
    background-color: #f6f6f9;
    color:black;
    border-radius: 0.5rem; 
    border: 1px solid #f6f6f9;
    padding: 3px 8px;
    transition: all 0.5s ;   
}

.theme-toggler:hover{
    background-color: #363949;
    color: white;}

body.active .theme-toggler:before{
    content: '\f185';
    font-family: fontAwesome;
    background-color: #363949;
    color: white;

}
