.content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.content .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    gap: 20px;
}

.recent-updates {
    background-color: blue;
    color: white;
}

.events {
    background-color: yellow;
    color: white;
}

.scores {
    background-color: peru;
    color: white;
}

.sports {
    background-color: red;
    color: white;
}