.content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.content .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    gap: 20px;
    border-radius: 20px;
}

body.active div.recent-updates{
    background-color: #363949;
    color: white;
    transition:  all 0.5s ease;
}

body.active div.events{
    background-color: #363949;
    color: white;
    transition:  all 0.5s ease;
}

body.active div.sports{
    background-color: #363949;
    color: white;
    transition:  all 0.5s ease;
}

body.active div.scores{
    background-color: #363949;
    color: white;
    transition:  all 0.5s ease;
}


.scroll{
    background-color: red;
    background-size: 200px;
    display: flex;
    height: fit-content;
    overflow-x: scroll;
}


.odds{
    background-color: var(--color-riches);
    display: flex;
}

.events {
    background-color: white;
    border-radius: 20px;
    padding: 0px 25px 15px 15px;
}
span.country-icon{
    margin-top: 2px;
}

                            /*------SCORES-------*/
.scores {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 0px 25px 15px 15px;
}

.latest{ 
    max-height: 160px;
    scroll-snap-type: x mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

.latest::-webkit-scrollbar{
    height: 8px;
    width: 6px;
}

.latest::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: var(--color-serenity);
}

.latest::-webkit-scrollbar-track{
    border-radius: 100px;
    background-color: white;
}

.matches{
    text-align: justify;
    padding: 3px 5px 0px 15px;
    border-bottom: 0.5px solid gray;
    

}
.show{
    position: relative;
    top: -1px;
    text-align: center;
  
}
.date{
    color: magenta;
}
.stadiums{
    color: hotpink;
}
.time{
    color: black;
}



           /*------END OF SCORES--------*/
           
           
            /*------sports--------*/


.sports {
    background-color: white;
    border-radius: 20px;
    color: black;
}
.top{
    border-bottom: 1px solid blue;
}
.grid-boxes{
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    max-width: 450px;
    height: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior:auto;
    scrollbar-arrow-color: blue;
    grid-column-gap: 20px;
}

.grid-boxes::-webkit-scrollbar{
    height: 10px;
    padding-left: 20px;
}

.grid-boxes::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: var(--color-serenity);
}

.grid-boxes::-webkit-scrollbar-track{
    border-radius: 100px;
    background-color: gray;
}


.box{
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    padding-top: 5px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); 
    transition: all .5s ease; 
}


.box:hover{
    box-shadow: none;
    background-color: var(--color-confidence);
}

.box{
   margin-left: 5px;
   padding-left: 2px;
   padding-bottom: 20px;
}
.icon-sport{
    position: absolute;
    display: flex;
    right: -1px;
    margin-right: 5px;
}

.competition{
    padding-bottom: 5px;
}

.tournament-round{
    padding-bottom: 5px;
}

.tournament-dates{
    font-size: 14px;
    padding-bottom: 15px;
}
.info{
    text-decoration: underline;
}

            /*------END OF SPORTS-------*/


        
            /*Beginning of Recent updates*/


.recent-updates {
    background-color: white;
    border-radius: 20px;
    color: black;
}
        
        /*slider creation*/

.slider-container{
    max-width: 450px;
    height: 90%;
    position: relative;
    margin: auto;

}

.slider{

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    
    scrollbar-arrow-color: var(--color-serenity);
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px 0px;
    
}

.slider::-webkit-scrollbar{
    height: 10px;
}

.slider::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: var(--color-serenity);
}

.slider::-webkit-scrollbar-track{
    border-radius: 100px;
    background-color: gray;
}


.slide{
    border: 3px solid var(--color-serenity) ;
    height: 100%;
    scroll-snap-align: start;
    transition: all .3s;
       
}
/*end of Slider*/

/*content of slider*/

.league{
    font-size: larger;
    font-weight: bold;
    color: gray;
    padding-left: 10px;
    padding-top: 3px;
}

.icon-sport{
    padding: 0;
}
.match{
    font-size:large;
    font-weight: bold;
    color: gray;
    padding-left: 20px;
    padding-bottom: 2px;
}
.match-conditions{
    inline-size: 100%;
    font-size: smaller;
    white-space: nowrap;
    padding-left: 5px;
    overflow-x: scroll;  
    overflow-y: hidden; 
    color: #363949;
}
.match-conditions::-webkit-scrollbar{
    height: 3px;
}

.match-conditions::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: blue;
}

.match-conditions::-webkit-scrollbar-track{
    border-radius: 100px;
    background-color: gray;
}

.time-left{
    position: relative;
    bottom: -65px;
    right: -250px;
    font-size: medium;
    color: #7d8da1;
}
div .table table{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: 30%;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}
td{border: 1px solid black; padding: 5px 10px;}

tr:nth-child(even) td{
    background-color: var(--color-peps);
}

tr:nth-child(odd) td{
    background-color: var(--color-confidence);
}

/*end of slider content*/
      
     