*{box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    background-color: deepskyblue;
}

summary{
    border-bottom: 1px solid black;
    background-color: greenyellow;
}


footer {
    position: absolute;
    bottom: -1px;
    background-color: aquamarine;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    text-align: center;
}

.content {
    position: fixed;
    top: 75px;
    left: 280px;
    right: 25px;
    bottom: 75px;
}

.headings{
    text-align: center;
}

img{
    border-radius: 50%;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
li{
    margin: 0;
    padding: 10px;
    border-bottom: 0.5px solid gray;
}