.header {
    position: absolute;
    top: -1px;
    padding-top: 10px;
    padding-bottom: 11px;
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
}

.header .user img {
    margin-right: 5px;
}

.header .user span {
    color: white;
}
footer .copyright{
    position: relative;
    top: 3px;
}
.user-image{
    width: 24px;
    height: 24px;
}